.kasa_header{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    nav{
        font-family: 'Montserrat';
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        a{
            color: #FF6060;
            margin-right: 40px;
            text-decoration:none;
        }
        a:active, :hover{
            border: solid 2px #FF6060;
            border-left: hidden;
            border-top: hidden;
            border-right: hidden;
            overflow: hidden;
        }
       
    }
}

@media screen and (max-width: 700px){
    .kasa_header{
        align-items: center;
        margin-top: 15px;
        margin-left: 25px;
        img{
            width: 90px;
            height: 45px;
        }
        nav{
            width: fit-content;
            font-size: 12px;
            text-transform: uppercase;
            a{
                margin-right: 20px;
            }
        }
    }
}